*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    margin: auto;
    color: white;
}
nav{
    display: flex;
  padding:2% 0% 1% 0%; 
  width: 100%; 
  flex-wrap: wrap;
  justify-content: space-between;
}
header nav{
    border-bottom: solid 3px grey;
}
footer nav{
    margin-top: 2%;
    border-top: solid 3px grey;
}
a{
    color: white;
}
ul,
ol {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  margin-right: 30px;
}
.logo3{
    width: 50%;
}
.logo3 img{
    width: 70%;
    border: solid 3px white;
    margin-left: 20px;
    margin-top: 2%;
}
.row1{
    display: flex;
}
li a{
    display: flex;
    font-size: large;
    text-decoration: none;
   margin-bottom: 22%;
}

header, footer{
    padding: 1% 10% 1% 10%;
}
form.example{
    width: 45%;
    align-self: center;
}
form.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    height: 40px;
  }
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: rgb(111, 127, 145);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 40px;   
  }
  
form.example button:hover {
    background-color: #082946;
  }

.canciones{
    margin:0% 5% 0% 5%;
}
.canciones h6{
    color: rgb(138, 141, 141);
    padding-top: 1%;
    margin-right: 18%;
}
.track{
    display: flex;
    align-content: center;
}
.track:hover {
    background-color: rgba(255, 255, 255, 0.137);
}
.track div{
    display: flex;
    flex-direction: column;
}
.track a h2{
    padding-left: 30px;
    margin: 25% 0% 0% 0%;
    font-size: smaller;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
}
.track h6{
    margin-left: 30px;
 }
 .track .punto{
    padding: 0px;
    margin-top: 25px;
    border-radius: 50%;
    margin-left: auto;
   align-items: center;
}   
.track .corazon{
    margin-top: 25px;
   align-items: center;
   margin-left: 10px;
}  
.track img{
    width: 60px;
    margin-top: 7px;
    margin-left: 20px;
}
.track div a h6{
    margin-top:1% ;
}
.scroll{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.scroll h2{
  
    font-size: medium;
    margin-left: 10%;
}
.scroll h3{
    font-size: small;
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.scroll h4{
    color:gray;
    font-size: x-small;
    padding-left: 5%;
}
.scroll img{
    width: 100%
}
.scroll article{
    width: 30%;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-left: 5px;
    width: 23%;
    margin: 3% 3% 0% 0% ;
}
.nomelacontainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.footernour{
    margin: 0px 4px 4px 0px;
}
.footernour img{
    width: 90px;
    margin-right: 10%;
    border: solid 3px white;
}
.nombres {
    max-width: 100%;
  font-size: medium;
  margin:  1% 3% 4% 0%;
   
}
/*Tomi*/
.bodydartist h2{
    color: white;
    align-self: center;
}
.bodydartist main{
    display: flex;
    flex-direction: column;
}
.scroll .index{
    font-size: x-large;
}

  .generostomi h1{
    color: white;
    font-size: 50px;
    margin-left: 30px;
    padding-top: 50px;
  }
.nomelacontainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.scroll{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.scroll h2{
  
    font-size: medium;
    margin-left: 10%;
}
.scroll img{
    width: 100%
}
/*Nour*/
.search{
    display:none;
}
a:link {
    text-decoration: none;
}

.headtrack{
    font-size: large;
}
.audiotrack{
    width: 270px;
}
.divtrack{
    margin:auto;
    width:320px;
    padding:10px;
}
.divtrackhijo{
    text-align: center;
}

.divplayer{
    display: flex;
    justify-content:space-evenly;
    
}
.indexhead1{
    font-size: x-small;
}

/*Genero Nour*/
.nourhead1{
    color: white;
    font-size: x-large;
    margin-left: 50px;
}

.noursection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.nourcajita h2{
    text-align: center;
    font-size: large;
}
.generosname{
    font-size: small;
}
.imgmedium{
    height: 80%;
    width: 100%;
}

/*Clara*/
/*Detalle de album*/
#detail-album .banner img{
    display: block;
    width:255px;
    margin-left: auto;
    margin-right: auto;    
}
#detail-album .info-avicii{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
#detail-album #album{
    margin-left: 10%;
}
#detail-album .portada{
    margin-bottom: 4%;
}
#detail-album div{
    display: flex;
}
#detail-album  div figure img{
    width: 40px;
    border-radius:50%;
}
#artista{
    margin-top: 15%;
}
#detail-album .info-avicii h1{
    margin-left: 4%; 
}
#detail-album h6{
    color: rgb(138, 141, 141);
    padding-top: 0%;
  margin-left: 10%;
}
/*Playlist*/
#playlist .track img{
margin-top:15% ;
}
#playlist .track .punto{
    margin-top: 3%;
}
#playlist .datos-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playlist .datos-playlist h1{
    font-size: x-large;
    margin: 0%;
}
#playlist .datos{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-left: 4%;
    margin-left: auto;
    margin-right: auto;
}
#playlist figure{
    margin: 0;
}
#playlist .banner img{
    width:100%;
    display: block;
    margin:10%;
    align-items: center;
    width:255px;
    margin-right: auto;   
    margin-left: auto;
}
#playlist .cajita{
    margin: 16% 0% 0% 0%;
}
/*Search-results*/

#search-results .resultado{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3%;
    margin-left: 15%;
}
#search-results .avicii{
    margin: 0% 5% 0% 5%;
}
#search-results .artista{
    display: flex;
    align-items: flex-start;
    }
#search-results .artista a h5{
   margin-top: 95%;
}
#search-results .avicii figure img{
    border-radius:50%;
    max-width: 50px;
    margin-left: 5%;
    align-self: center;
}
#search-results .title-search{
    margin-left: 10%;
    border-bottom:solid rgba(255, 255, 255, 0.13);
    margin-left: 8%;
    font-size: medium;
    padding-bottom: 1%;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
}
#search-results #icon{
    padding: 10px;
    border-radius: 50%;
    color: rgb(168, 167, 167);
    margin-left: auto;
    align-self: center;
} 
#search-results .nomelacontainer {
    margin:0% 5% 0% 5%;
 }
 #search-results .scroll h2{
    width:80%;
 }
#search-results .album-avicii img{
    width: 100%;
    padding-right: 5%;
}

@media(min-width:768px){
nav{
    flex-direction: row;
}
.row1{
    width: 50%;
}
ul{
    width: 40%;
}
.logo3{
    width: 100%;
    max-height: 200px;
    max-width: 400px;
}
.logo3 img{
    width: 100%;
    margin: 23px 10px 19px 10px ;
}
form.example{
    width: 600px;
    margin-left: 50px;
}

.footernour img{
    width: 150px;
}

.nombres{
    font-size: large;
    margin-left: 40%;
    margin-top: 10px;
}
li a{ margin-top: 15px;}

    /*Tomi*/
.contenedor-banner img{
    height: 300px;
}
.sectiontomi h3{
    font-size: medium;
}
.sectiontomi h4{
    font-size: small;
}
.bodyhometomi main{
    margin: 20px;
}
.sectiontomi h2{
    font-size: x-large;
}
.sectiontomi img{
    max-height: 300px;
    max-width: 300px;
}
.generostomi h1{
    font-size: 100px;
}
.generostomi h2{
font-size: 30px;
margin-top: 30px;
}
/*Nour*/
li a{
    font-size: x-large;
}
.search{
    display: inline;
}
#search-results .track h3{
    font-size: medium;
}
.divtrack{
    width: 400px;
}
.imgtrack{
    width: 350px;
}
.audiotrack{
    width: 350px;
}
.indexhead1{
    font-size: small;
}
.indexhead3{
    font-size: x-small;
}
}
@media(min-width:1024px){
/*Tomi*/
.contenedor-banner img{
    height: 300px;
}
/*Nour*/
li a{
    font-size: xx-large;
}
.divtrack{
    width: 420px;
}
.imgtrack{
    width: 370px;
}
/*Clara*/

#detail-album .portada{
    display: flex;
    
}
#detail-album .nn{
    margin-top: 3%;
    flex-direction: column;
    margin-left: 7%;
}
#detail-album  .banner img{
     margin-left: 20%;
}
#detail-album .info-avicii {
    margin: 4% 0% 0% 4%;
}
#detail-album  .info-avicii h1{
    margin-left: 15%; 
}

#playlist .datos-playlist{
    display: flex;
    flex-direction: row;
 }
#playlist  .banner img{
    margin-left: 20%;
    width:255px;
 }
#playlist  .datos{
    margin: 5%;
}
}