* { 
    box-sizing: border-box; 
}
body {
    margin: 0;
    background-color: black; 
    
    }  
.bodydartist main a{
    display: flex;
    justify-content: center;
    margin-left: 90%;
    width: 50px;
    margin-top: 15px;
    }  
@media(min-width:768px){
    /* DESKTOP */
    .padre{
        height:100%;
    }
        ul,
        ol {
          display: flex;
          justify-content: space-evenly;
          padding: 2%;
          align-items: center;
        }
        .padre{
            height:100%;
        }
        li{
            text-decoration: none;
        }
        li a{
            color: white;
            font-size:x-large;
        }
        a:link {
            text-decoration: none;
        }
        header{
            padding:30px;
        }
        header nav ul{
            width:100%;
            height: 67px;
            border: solid 3px grey;
            border-radius: 3px;
            align-items: center;
        }
        li input[type=text]{
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            margin-bottom: 8px;
            border: none;
            font-size: 17px;
        }
        
        .main-img{
            /* Centra */
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }
        h1{
            text-align: center;
            color: white;
        
        }
        h3{
            text-align: center;
            color: grey;
        }
        .contenedor{
            align-items: center;
        }
        .hijo{
            color: white;
            border: solid 3px grey;
            width: 350px;
            margin:0 auto;
            border-radius: 25px;
        }
        .hijito{
            display: flex;
            margin-bottom: 20px;
        }
        .hijito a{
            margin-left:50px;
            color:white;
            font-size: large;
            align-items: center;
        }
        /* .hijo ul{
            list-style-type: none;
        } */
        .fas{
            width:20px;
            margin-left:40px
        }
        .cajita{
            margin-top:16px;
            border: solid 3px white;
            border-radius:25px;
            padding:7px;
            background-color: white;
            margin-left:40px
            
        }
        .cajita a{
            margin: 0 auto;
            color:black;
        }
        .fa-play{
            margin-top:30px;
        }
        footer{
            margin-top:30px;
        
        }

}
@media(max-width:375px){
    /* MOBILE */
    .padre{
        height:100vh;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul{
        border: solid 3px grey;
        border-radius: 3px;
    }
    .search{
        display:none;
    }
    a:link {
        text-decoration: none;
    }
    li a{
        color: white;
        font-size:x-large;
    }
    .main-img{
        width:255px;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        text-align: center;
        color: white;
    
    }
    h3{
        text-align: center;
        color: grey;
    }
    .hijo{
        color: white;
        border: solid 3px grey;
        width: 350px;
        margin:0 auto;
        border-radius: 25px;
    }
    .hijito{
        display: flex;
        margin-bottom: 20px;
    }
    .hijito a{
        margin-left:50px;
        color:white;
        font-size: large;
        align-items: center;
    }
    /* .hijo ul{
        list-style-type: none;
    } */
    .fas{
        width:20px;
        margin-left:40px
    }
    .cajita{
        margin-top:16px;
        border: solid 3px white;
        border-radius:25px;
        padding:7px;
        background-color: white;
        margin-left:40px
        
    }
    .cajita a{
        margin: 0 auto;
        color:black;
    }
    .fa-play{
        margin-top:30px;
    }
    footer{
        display:none;
    }
} 

.contenedor{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

figure{
    width: 15%;
}
.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    color: white;
}
.bodyindex{
    background-color: black;
    list-style: none;
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.bodydartist h2{
    color: white;
    align-self: center;
}
.bodydartist main{
    display: flex;
    flex-direction: column;
}
.contenedor-banner {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
.contenedor-banner img{
    width: 100%;
    height: 400px;
}
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
  }
.canciontomi{
    display: flex;
    justify-content: baseline;
    margin-top: 5px;
    border-bottom: solid 3px white;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.canciontomi img{
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
.canciontomi h1{
    color: white;
    font-size: xx-large;
    margin-left: 50px;
}
.canciontomi h2{
    margin-left: 50px;
}
.canciontomi a{
    padding: 10px;
    border-radius: 50%;
}


