* { box-sizing: border-box; }
    body { margin: 0; }    
ul, ol { 
    padding: 0;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 2%;
}
li { list-style-type: none;
    background-color: black;
    width: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    justify-content: center;
    border-radius: 30%;
    height: 100%;
    padding: 10px;
}
header{
    width: 100%;
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
    border: solid 3px white;
    border-radius: 15%;
    justify-content: space-evenly;
    padding: 5%;
}
.contendor{
    margin-left: 10%;
    margin-right: 10%;
}
nav{
    width: 50%;
}
figure{
    width: 15%;
}
.buscador{
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    margin-left: 10px;
}
header a{
    color: white;
    text-decoration: none;
    height: 100%;
}
.bodyindex{
    background-color: black;
}
.bodyindex label{
    color: white;
}
.buscador input{
    background-color: black;
    border: solid 3px white;
    color: white;
}