/*General*/
*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    margin: auto;
  
}
form .izq {
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    width: 30%;
    vertical-align: top;
  }
ul,
ol {
  display: flex;
  border: solid 3px grey;
  border-radius: 3px;
  padding:1%;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

li a{
    color: white;
    font-size:medium;
    text-decoration: none;
}

header, footer {
    padding:30px;
}

header nav ul{
   
    border: solid 3px grey;
    border-radius: 3px;
    align-items: center;
    padding:1%;
}
li input[type=text]{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    border: none;
    font-size: 17px;
}
/*Tomi*/
.bodydartist h2{
    color: white;
    align-self: center;
}
.bodydartist main{
    display: flex;
    flex-direction: column;
}
.contenedor-banner {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
.contenedor-banner img{
    width: 100%;
    height: 150px;
}
.canciontomi{
    display: flex;
    justify-content: baseline;
    margin-top: 5px;
    border-bottom:solid rgba(255, 255, 255, 0.39);
    align-content: center;
}
.canciontomi img{
    height: 70px;
    width: 70px;
    margin-left: 30px;
    align-self: center;
}
.cancionestomi h2{
    color: white;
    margin-left: 20px;
    margin-bottom: 5px;
}
.canciontomi h1{
    color: white;
    font-size: x-large;
    margin-left: 10px;
}
.canciontomi h2{
    margin-left: 20px;
    color: white;
    font-size: small;
    align-self: center;
}
.canciontomi a{
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-left: auto;
    align-self: center;
}
.bodyhometomi main{
padding: 5px;
}
.sectiontomi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.sectiontomi h2{
    width: 100%;
    color: white;
    font-size: medium;
    margin-left: 10%;
}
.sectiontomi h3{
    color: white;
    font-size: small;
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
.sectiontomi h4{
    color:gray;
    font-size: x-small;
    padding-left: 5%;
}
.sectiontomi img{
    width: 100%
}
.sectiontomi article{
    width: 30%;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-left: 5px;
}
.nomelacontainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .artistatomi{
      border-radius: 50%;
  }
/*Nour*/
.search{
    display:none;
}
a:link {
    text-decoration: none;
}
.main-img{
    width:255px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nourh1{
    text-align: center;
    color: white;

}
.nourh3{
    text-align: center;
    color: grey;
}
.nourhijo{
    color: white;
    border: solid 3px grey;
    width: 280px;
    margin:0 auto;
    border-radius: 25px;
}
.nietonour{
    display: flex;
    margin-bottom: 20px;
}
.nietonour a{
    margin-left:50px;
    color:white;
    font-size: large;
    align-items: center;
}
/* .hijo ul{
    list-style-type: none;
} */
.fas{
    width:20px;
    margin-left:30px;
}
.cajita{
    margin-top:16px;
    border: solid 3px white;
    border-radius:25px;
    padding:7px;
    background-color: white;
    margin-left:40px
    
}
.cajita a{
    margin: 0 auto;
    color:black;
}
.fa-play{
    margin-top:30px;
}
/*Genero Nour*/
.nourhead1{
    color: white;
    font-size: x-large;
    margin-left: 50px;
}
.nourcajita{
    width: 150px;
    height: 80px;   
}
.noursection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
.noursection a{
    border-radius: 7%;
    background-color: white;
    margin-bottom: 10px;
    color: white;
}
.nourcajita h2{
    text-align: center;
}
.nourcajita:hover{
    color:rgb(0, 0, 0)
}
#rock{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/8ad3050b34360d0573d9d7b8bf38997d/268x528-000000-80-0-0.jpg);

}
#pop{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/2b15578cf12902c0c7d2ae07e8071460/268x528-000000-80-0-0.jpg);

}
#musicalatina{
    background-image:url(https://e-cdns-images.dzcdn.net/images/misc/d1f20c3f8aac2f94c87c5f64e0d14c99/268x528-000000-80-0-0.jpg)
}
#metal{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/dfd2c5f4b1ea497efb2f82da98b73572/268x528-000000-80-0-0.jpg);
}
#electronica{
    background-image: url( https://e-cdns-images.dzcdn.net/images/misc/893d864206cf82d011d10f51686f47a6/268x528-000000-80-0-0.jpg);
}
#reggae{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/4de2c135cf4c39d7d9424446053cc41a/268x528-000000-80-0-0.jpg);
}
#funk{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/b8ae8f0791f5e9e6c7a11bab94b0cbad/268x528-000000-80-0-0.jpg);
}
#rap{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/e19942660ebf4f095dd8daaa84282a98/268x528-000000-80-0-0.jpg);
}
#jazz{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/ac23323f1de37faf026eb1191e60ce0c/268x528-000000-80-0-0.jpg);
}
#country{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/8dc8f5b3403196a4789aa5e0f0c2a40b/268x528-000000-80-0-0.jpg);
}
#clasica{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/de17a53eb95df5ef53bc43eea0d5cb67/268x528-000000-80-0-0.jpg);
}
#k-pop{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/6154c9fbd99a356ad269656ee88b0820/268x528-000000-80-0-0.jpg);
}
#reggueton{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/49ff19261ef3fb1ad85da7fb344c60ce/268x528-000000-80-0-0.jpg);
}
#salsa{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/1c282e04053a2d1ee0ffa638bff4cb9b/268x528-000000-80-0-0.jpg);
}
#indie{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/c66808f7d02a8da2d7869839be460851/268x528-000000-80-0-0.jpg);
}
#blues{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/3afdfc1cfa772d31a5ca70a121d10206/268x528-000000-80-0-0.jpg);
}
#musicacristiana{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/c67a0af86ff345a45db13844cc5d5806/268x528-000000-80-0-0.jpg);
}
#ryb{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/1c249bef95bcfa068e96957a13570ed2/268x528-000000-80-0-0.jpg);
}
#musicaafricana{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/cdb2b282bf856b1ec0061d1b00371e77/268x528-000000-80-0-0.jpg);
}
#vallenato{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/510eb0cc1773547bea4e42a25d9ca8c8/268x528-000000-80-0-0.jpg);
}
#musicaarabe{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/25d20727f59c78c43e9d9b20a0249f95/268x528-000000-80-0-0.jpg);
}
#soundtracks{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/bce4bf5c4e4d2f91e2d3ebf32c0e70fe/268x528-000000-80-0-0.jpg);
}
#musicajaponesa{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/8e211af480caea6fc4fa5378c1757e16/268x528-000000-80-0-0.jpg);
}
#musicamexicana{
    background-image: url(https://e-cdns-images.dzcdn.net/images/misc/02e90cc40b05d31741adb2a48e9b3de7/268x528-000000-80-0-0.jpg);
}
/*Clara*/
/*Album*/
#detail-album{
    color: white;
    margin: auto;
 
}
#detail-album h1, h5, h6 {
    margin:0%;  
    align-items: center;
}
#detail-album .datos{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    padding-left: 4%;
    margin-left: auto;
    margin-right: auto;
}
#detail-album h6{
    color: rgb(138, 141, 141);
}
#detail-album figure{
    margin: 0;
}
#detail-album .banner img{
    align-items: center;
    width:100%;
    display: block;
    margin:10%;
    width:255px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;    
}
#detail-album div{
    display: flex;
    margin: 4% 0% 4% 0%;
    justify-content: space-between;
    align-items: center;
}
#detail-album  div figure img{
    width: 40px;
    border-radius:50%;
}
#detail-album .canciones{
    margin:5%;
}
#detail-album  .cancioncla {
    display: flex;
    justify-content: baseline;
    margin-top: 2%;
    border-bottom:solid rgba(255, 255, 255, 0.39);
    align-content: center;
}
#detail-album  .cancioncla h1{
    color: white;
    margin: 0px;
    text-align: center;
    margin-top: 2%;
}
#detail-album .cancioncla h2{
    margin-left: 20px;
    color: white;
    font-size: smaller;
    align-items: center;
}
#detail-album .cancioncla a{
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-left: auto;
    align-self: center;
}   
#detail-album  .canciones .cancioncla img{
    width: 0px;
}
/*Playlist*/

#playlist h1, h2, h6 , p{
    align-items: center;
}
#playlist .datos-playlist{
    display: flex;
    flex-direction: column;
  align-items: center;

}
#playlist .datos-playlist h1{
    font-size: x-large;
    color: rgb(248, 248, 248);
}
#playlist .datos{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding-left: 4%;
    margin-left: auto;
    margin-right: auto;
}
#playlist h6{
    color: rgb(138, 141, 141);
    padding-top: 0%;

}
#playlist figure{
    margin: 0;
}
#playlist .banner img{

    width:100%;
    display: block;
    margin:10%;
    align-items: center;
    width:255px;
    margin-right: auto;   
    margin-left: auto;
}
#playlist .cajita{
    margin: 16% 0% 0% 0%;
}
#playlist .canciones{
    margin:5%;
}
#playlist  .cancioncla {
    display: flex;
    justify-content: baseline;
    margin-top: 2%;
    align-content: center;
}
#playlist  .cancioncla:hover {
        /* cambia el color */
        background-color: rgba(255, 255, 255, 0.137);
}
#playlist  .cancioncla i{
    color: white;
    margin-top: 30px;
}
#playlist .cancioncla div{
    display: flex;
    flex-direction: column;
    padding-top: 0%;
   
    margin: 0%;
}
#playlist .cancioncla a h2, h6{
    margin-left: 10px;
    color: white;
    font-size: smaller;
    align-items:center;
  
}
#playlist .cancioncla .punto{
    padding: 0px;
    border-radius: 50%;
    color: white;
    margin-left: auto;
   align-items: center;
}   
#playlist .canciones .cancioncla img{
    width: 0px;
}
/*Search-results*/
#search-results{
    color: white;
}
#search-results .resultado{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3%;
}
#search-results section h2{
    border-bottom:solid rgba(255, 255, 255, 0.39);
    width: 80%;
    margin-left: 8%;
    font-size: medium;
    padding-bottom: 1%;
}
#search-results .artista a h5{
   color: white;
   margin-top: 95%;
}
#search-results .avicii{
    margin: 0% 5% 0% 5%;
}
#search-results .avicii figure img{
    border-radius:50%;
    max-width: 50px;
    margin-left: 5%;
    align-self: center;
}
#search-results .canciones{
    margin:0% 5% 0% 5%;
}
#search-results .artista{
    display: flex;
    align-items: flex-start;
    }
#search-results  .cancioncla {
    display: flex;
    justify-content: baseline;
    margin-top: 2%;
    align-items: center;
}
#search-results .cancioncla h3{
    margin-left: 20px;
    color: white;
    font-size: smaller;
    align-items: center;
    margin-bottom: 40%;
}
#search-results #icon{
    padding: 10px;
    border-radius: 50%;
    color: rgb(168, 167, 167);
    margin-left: auto;
    align-self: center;
}   
#search-results .cancioncla img{
    max-width: 10%;
    margin-left: 5%;
    margin-bottom: 2%;
    align-self: center;
}
#search-results .album-avicii{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin:0% 5% 0% 5%;
}    
#search-results .opciones-album{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#search-results .album-avicii article{
    flex-direction: column;
    display: inline-block;
    width: 20%;
 }
#search-results h2{
    width: 100%;
    color: white;
    font-size: medium;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
}
 #search-results .album-avicii h3{
    color: white;
    font-size: small;
    padding-left: 5%;
  
        }
#search-results .album-avicii h4{
   color:gray;
    font-size: x-small;
    padding-left: 5%;
    }
#search-results .album-avicii img{
        max-width: 100%;
        padding-right: 5%;
}
@media(min-width:768px){
/*Tomi*/
.contenedor-banner img{
    height: 300px;
}
.canciontomi h2{
    font-size: x-large;
}
.canciontomi{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.canciontomi img{
    height: 100px;
    width: 100px;

}
.sectiontomi h3{
    font-size: medium;
}
.sectiontomi h4{
    font-size: small;
}
.bodyhometomi main{
    margin: 20px;
}
.sectiontomi h2{
    font-size: x-large;
}
.sectiontomi img{
    max-height: 300px;
    max-width: 300px;
}
/*Nour*/
li a{
    font-size: x-large;
}
.nourhijo{
    width:350px
}
.fas{
    margin-left:60px;
}
.search{
    display: inline;
}
.main-img{
    width: 350px;
}
.nourcajita{
    width: 320px;
    height: 100px;
    justify-content: space-evenly;   
}

/*Clara*/
#detail-album .banner img{
    padding:0%;
    align-items: center;
    width: 40%;
    
    }
    #detail-album{
        font-size:x-large;
    }
    #detail-album .cancioncla {
        margin-bottom: 1%;
        margin-top: 1%;
    }
    #detail-album .cancioncla {
        margin-top: 1%;
        margin-bottom: 2%;
    }
    #playlist .canciones .cancioncla img{
        width: 60px;
        margin-top: 15%;
        margin-left: 20px;
    }
    #search-results h2{
        font-size: large;
    }
    #search-results .cancioncla h3{
        font-size: medium;
    }

}
@media(min-width:1024px){
/*Tomi*/
.contenedor-banner img{
    height: 300px;
}
.canciontomi{
    margin-left: 30px;
    margin-right: 30px;
}
/*Nour*/
.main-img{
    width: 400px;
}
.nourhijo{
    width:400px;
}
.nourh1{
    font-size: 35px;
}
.nourh3{
    font-size: 23px;
}
.nietonour a{
    font-size: 25px;
}
li a{
    font-size: xx-large;
}
.fas{
    width: 30px;
}
/*Clara*/
#detail-album #datos-disco{
    display: flex;
    flex-direction: row;
 }
 #detail-album  .banner img{
     margin-left: 20%;
     width:255px;
 }

 #detail-album .datos-disco{
    display: flex;
}
 #detail-album  .canciones .cancioncla img{
    width: 70px;
    margin-left: 5%;
    margin-bottom: 2%;
    align-self: center;
    }
    #detail-album  .canciones .cancioncla h2{
        padding-top: 1%;
    }
#detail-album .datos{
        margin: 5%;
    }
    #search-results .canciones .cancioncla img{
        width: 70px;
        margin-left: 5%;
        margin-bottom: 2%;
        align-self: center;
        }
        #search-results .canciones .cancioncla h2{
            padding-top: 1%;
        }
   

/*Clara*/
#playlist .datos-playlist{
    display: flex;
    flex-direction: row;
 }
 #playlist  .banner img{
     margin-left: 20%;
     width:255px;
 }

  #playlist .canciones .cancioncla img{
    width: 60px;
    margin-top: 15%;
    margin-left: 20px;
  }
      #playlist  .canciones .cancioncla h2, h6{
          padding-top: 18%;
          margin-left: 30px;
     
    }
    #playlist  .datos{
        margin: 5%;
    }
}